<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Space Webapp</title>
  </head>
  <body>
    <h1> Welcome to My Space Website </h1>
    <p> Find out when the International Space Station is next flying over you... </p>
    <h3>Select a city...</h3>
    <form action="/" method="POST">
      <div class="form-group">
          <select id="city" name="city" class="change-picture">
            <option selected disabled hidden style='display: none'>Select City</option>
            <option value="London">London</option>
            <option value="Cape Town">Cape Town</option>
            <option value="Tokyo">Tokyo</option>
            <option value="New York">New York</option>
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Go!</button>
    </form>

      {% if city %}
        <p> The next 5 passes for {{city}} are:</p>
        {% for time in times %}
          <ul><li>{{time}}</li></ul>
        {% endfor %}
      {% endif %}

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>
